*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Code demos/CS417ExceptionDemo/nbproject/private/
/Code demos/CS417ExceptionDemo/dist/
Code demos/CS417ExceptionDemo/nbproject/
Code demos/CS417ExceptionDemo/build/
Code demos/CS417ExceptionDemo/build.xml
*.zargo~
/Code demos/CS417VisitorPattern/build/
*.gitignore~
/Code demos/CS417CommandPattern/nbproject/private/
/Code demos/CS417CommandPattern/build/
/Code demos/CS417CommandPattern/nbproject/private/
/Code demos/CS417DemosIterGenericsCompositeDecorator/dist/
/Code demos/CS417DemosIterGenericsCompositeDecorator/build/
/Code demos/CS417VisitorPattern/build/
/Code demos/CS417VisitorPattern/dist/